## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio cache/options
.vs/
.vscode/

## Rider
.idea/
*.sln.iml

## NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

## Python (legacy files)
*.pyc
venv/
__pycache__/
*.py[cod]

## macOS
.DS_Store

## User-specific files
docker/image.png.custom
*.local
